<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Users</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <button class="btn btn-sm btn-primary" onclick="addUser()" >Create User</button>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Enabled</th>
                                <th>Roles</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user: ${USERS}">
                                    <td th:text="${user.getUserCode()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.isEnabled() ? 'Yes' : 'No'}"></td>
                                    <td>
                                        <div th:each="role: ${user.getRoles()}" th:text="${role.getRoleName()}"></div>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addUserModal" style="z-index: 99999" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="addUserModalContent">
                </div>
            </div>
        </div>
    </div>
    <script layout:fragment="jqueryScript" type="application/javascript">
        $(document).ready(function() {
            var table = $('#datatable').DataTable({
                "pagingType": "full_numbers",
                "columnDefs": [
                    { "width": "15%" },
                    { "width": "15%" },
                    { "width": "15%" },
                    { "width": "15%" },
                    { "width": "20%" },
                    { "width": "20%" }
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });
            table.on('click', '.edit', function() {
                $tr = $(this).closest('tr');

                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });
        });
    </script>
    <script layout:fragment="normalScript" type="application/javascript">
        function addUser() {
            $.ajax({
                url: '/app/user/add-users.html',
                type: 'get',
                success: function(response){
                    $("#addUserModalContent").html(response);
                    $("#addUserModal").modal('show');
                },
                error: function(a, b, c) {
                    demo.showErrorNotification("Failed to add user. "+a.responseJSON.error)
                }
            });
        }

        function toggleUserStatus(elm) {
            var usercode = $(elm).attr("usercode");
            $.ajax({
                url: '/app/user/toggle-user-status.html?userCode='+usercode,
                type: 'post',
                success: function(response){
                    window.location.reload();
                },
                error: function(a, b, c) {
                    demo.showErrorNotification("Failed to change user status. "+a.responseJSON.error)
                }
            });
        }

        function manageUserRole(elm) {
            var usercode = $(elm).attr("usercode");
            $.ajax({
                url: '/app/user/manager-user-role.html?userCode='+usercode,
                type: 'get',
                success: function(response){
                    $("#addUserModalContent").html(response);
                    $("#addUserModal").modal('show');
                },
                error: function(a, b, c) {
                    demo.showErrorNotification("Failed to manage user role. "+a.responseJSON.error)
                }
            });
        }

        function assignRole(elm) {
            var rolecode = $(elm).attr("rolecode");
            var usercode = $(elm).attr("usercode");
            $.ajax({
                url: '/app/user/grant-role.html?roleCode='+rolecode+'&userCode='+usercode,
                type: 'post',
                success: function(response){
                    $("#addUserModalContent").html(response);
                },
                error: function(a, b, c) {
                    demo.showErrorNotification("Failed to assign role. "+a.responseJSON.error)
                }
            });
        }

        function revokeRole(elm) {
            var rolecode = $(elm).attr("rolecode");
            var usercode = $(elm).attr("usercode");
            $.ajax({
                url: '/app/user/revoke-role.html?roleCode='+rolecode+'&userCode='+usercode,
                type: 'post',
                success: function(response){
                    $("#addUserModalContent").html(response);
                },
                error: function(a, b, c) {
                    demo.showErrorNotification("Failed to assign role. "+a.responseJSON.error)
                }
            });
        }
    </script>
</body>
</html>